* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Light.eot) url(./fonts/Inter-Light.woff)
    url(./fonts/Inter-Light.ttf) url(./fonts/Inter-Light.woff2);
}

/* Header */
header {
  position: relative;
  width: 1920px;
  height: 125px;
  left: 0px;
  top: 0px;
  background: #1c1814;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__1 {
  position: absolute;
  width: 397px;
  height: 22px;
  left: 300px;
  top: 51px;
}

.header__1 a {
  text-decoration: none;
  color: #ffffff;
  font-size: normal;
  font-size: 18px;
  line-height: 22px;
}

.header__1 a:hover {
  color: #c99e71;
}

.a__1 {
  font-family: "Inter";
}

/*/ Header */
