* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #1c1814;
  max-width: 1920px;
}

@font-face {
  font-family: Inter;
  src: url(./fonts/Inter-Light.eot) url(./fonts/Inter-Light.woff)
    url(./fonts/Inter-Light.ttf) url(./fonts/Inter-Light.woff2);
}

@font-face {
  font-family: Righteous;
  src: url(./fonts/Righteous-Regular.eot) url(./fonts/Righteous-Regular.woff)
    url(./fonts/Righteous-Regular.woff2) url(./fonts/Righteous-Regular.ttf);
}

@font-face {
  font-family: Urbanist;
  src: url(./fonts/Urbanist-Thin.eot) url(./fonts/Urbanist-Thin.woff)
    url(./fonts/Urbanist-Thin.woff2) url(./fonts/Urbanist-Thin.ttf);
}

/* Header */

.header-parent {
  max-width: 1920px;
  margin: 0 auto;
}

header {
  width: 80%;
  margin: 0 auto;
  padding: 33px 0;
  background: #1c1814;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__1 {
  display: flex;
  gap: 48px;
}

.header__1 a,
.header__2 a {
  text-decoration: none;
  color: #ffffff;
  font-size: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.header__1 a:hover {
  color: #c99e71;
  font-weight: 700;
}

.a__1,
.a__2,
.a__3,
.a__4,
.a__5,
.a__6,
.a__7 {
  font-family: Inter, sans-serif;
}

.header__2 {
  display: flex;
  align-items: center;

  gap: 48px;
}

/*/ Header */

/* First section */
.main__section {
  background-image: url(./imgs/mainpagephoto.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1920px;
}

.main__section--text {
  margin: 0 auto;
  width: 80%;
}
.main__section--text h1 {
  font-family: Righteous, cursive;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 130%;
  width: 50%;
  padding: 147px 0 32px;
}

.main__section--text p {
  width: 511px;
  height: 72px;
  color: #ffffff;
  font-family: Urbanist, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  text-transform: capitalize;
  margin-bottom: 64px;
}

.main__section--text-btn {
  margin-bottom: 166px;
}
.main__section--text button {
  display: flex;
  align-items: center;
  padding: 24px 40px;
  background: #c99e71;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
/*/ First section */

/* Second section */

.second__section {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 36px;
  margin: 140px auto;
}

.scndtxt__1,
.scndtxt__2,
.scndtxt__3 {
  display: flex;
}

.scndtxt__1 h2,
.scndtxt__2 h2,
.scndtxt__3 h2 {
  font-family: Righteous;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #c99e71;
  margin: 0px 12px 24px 0px;
}

.scndtxt__1 h3,
.scndtxt__2 h3,
.scndtxt__3 h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  font-family: Righteous;
  font-style: normal;
  margin-bottom: 24px;
}

.scndphoto__1 img,
.scndphoto__2 img,
.scndphoto__3 img {
  width: 366px;
  height: 420px;
}

/*/ Second section */

/* Third section */
.third__section {
  display: flex;
  margin: 0 auto;
  width: 80%;
  margin: 140px auto;
}

.left__side {
  width: 50%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px;
  margin-right: 32px;
}

.grid__1 {
  grid-column: 1 / 2;
  grid-row: 1 / span 1;
  background-image: url(./imgs/third1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.grid__2 {
  grid-column: 1 / 2;
  grid-row: 2 / 2;
  background-image: url(./imgs/third2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.grid__3 {
  grid-column: 2 / 2;
  grid-row: 1 / span 2;
  background-image: url(./imgs/third3.png);
  background-repeat: no-repeat;
  background-position: center;
}
.right__side {
  width: 50%;
  background: #14110e;
}

.frst__txt {
  font-family: Urbanist;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #c99e71;
  padding: 120px 365px 12px 56px;
}

.scnd__txt {
  font-family: Righteous;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
  margin: 12px 56px 0;
}

.scnd__txt span {
  display: block;
}

.thrd__txt {
  font-family: Urbanist;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
  margin: 36px 56px 147px;
}
/*/ Third section */

@media only screen and (max-width: 1318px) {
  /* Third section */
  .frst__txt {
    font-size: 16px;
    padding: 120px 0px 12px 56px;
  }

  .scnd__txt {
    font-size: 42px;

    margin: 12px 56px 0;
  }

  .scnd__txt span {
    display: block;
  }

  /*/ Third section */
}

@media only screen and (max-width: 1200px) {
  /* Header */

  .header__1 {
    gap: 25px;
  }

  .header__2 {
    gap: 25px;
  }

  .header__1 a,
  .header__2 a {
    font-size: 14px;
  }

  /*/ Header */

  /* First section */

  .main__section--text h1 {
    font-size: 60px;
    width: 60%;
    padding: 100px 0 20px;
  }

  .main__section--text p {
    font-size: 18px;
    margin-bottom: 50px;
  }

  .main__section--text-btn {
    margin-bottom: 166px;
  }

  .main__section--text button {
    padding: 16px 25px;
    font-size: 14px;
  }
  /*/ First section */

  /* Second section */

  .second__section {
    gap: 20px;
    margin: 90px 40px;
  }

  .scndtxt__1 h2,
  .scndtxt__2 h2,
  .scndtxt__3 h2 {
    font-size: 20px;
    margin: 0px 10px 20px 0px;
  }

  .scndtxt__1 h3,
  .scndtxt__2 h3,
  .scndtxt__3 h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .scndphoto__1 img,
  .scndphoto__2 img,
  .scndphoto__3 img {
    width: 280px;
    height: 334px;
  }

  /*/ Second section */

  /* Third section */
  .third__section {
    margin: 90px auto;
  }

  .left__side {
    gap: 25px;
    margin-right: 25px;
  }

  .frst__txt {
    font-size: 17px;
    padding: 70px 0px 12px 40px;
  }

  .scnd__txt {
    font-size: 36px;
    margin: 10px 40px 0;
  }

  .thrd__txt {
    font-size: 14px;
    margin: 25px 40px 70px;
  }
  /*/ Third section */
}
