* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #14110e;
  max-width: 1920px;
}

@font-face {
  font-family: Inter;
  src: url(./fonts/Inter-Light.eot) url(./fonts/Inter-Light.woff)
    url(./fonts/Inter-Light.ttf) url(./fonts/Inter-Light.woff2);
}

@font-face {
  font-family: Righteous;
  src: url(./fonts/Righteous-Regular.eot) url(./fonts/Righteous-Regular.woff)
    url(./fonts/Righteous-Regular.woff2) url(./fonts/Righteous-Regular.ttf);
}

@font-face {
  font-family: Urbanist;
  src: url(./fonts/Urbanist-Thin.eot) url(./fonts/Urbanist-Thin.woff)
    url(./fonts/Urbanist-Thin.woff2) url(./fonts/Urbanist-Thin.ttf);
}

/* Header */
header {
  max-width: 1920px;
  height: 125px;
  background: #1c1814;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__1 {
  width: 397px;
  height: 22px;
  display: flex;
  gap: 48px;
  padding-left: 300px;
  padding-top: 51px;
}

.header__1 a,
.header__2 a {
  text-decoration: none;
  color: #ffffff;
  font-size: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.header__1 a:hover {
  color: #c99e71;
  font-weight: 700;
}

.a__1,
.a__2,
.a__3,
.a__4,
.a__5,
.a__6,
.a__7 {
  font-family: Inter, sans-serif;
  height: 22px;
}

.a__1,
.a__2,
.a__3 {
  width: 52px;
}

.a__4 {
  width: 101px;
}

.coffe__logo {
  position: absolute;
  left: 878px;
  right: 970px;
  top: 32px;
  bottom: 33px;
}

.header__2 {
  width: 417px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 1203px;
  gap: 48px;
}

.a__5 {
  width: 53px;
}

.a__6 {
  width: 44px;
}

.a__7 {
  width: 68px;
}

/*/ Header */

/* First section */
.main__section {
  height: 1126px;
  background-image: url(./imgs/mainpagephoto.png);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1920px;
}

.main__section h1 {
  width: 529px;
  height: 188px;
  font-family: Righteous, cursive;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 130%;
  position: absolute;
  left: 375px;
  top: 272px;
}

.main__section p {
  width: 511px;
  height: 72px;
  color: #ffffff;
  font-family: Urbanist, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  text-transform: capitalize;
  position: absolute;
  left: 375px;
  top: 492px;
}

.main__section button {
  display: flex;
  align-items: center;
  padding: 24px 40px;
  background: #c99e71;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  position: absolute;
  width: 208px;
  height: 70px;
  left: 375px;
  top: 628px;
}

/*/ First section */

/* Second section */

.second__section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 36px;
}

.scndtxt__1,
.scndtxt__2,
.scndtxt__3 {
  display: flex;
}

.scndtxt__1 h2,
.scndtxt__2 h2,
.scndtxt__3 h2 {
  font-family: Righteous;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #c99e71;
  position: absolute;
  top: 1114px;
  height: 30px;
}

.scndtxt__1 h2 {
  position: absolute;
  width: 24px;
  left: 375px;
}

.scndtxt__2 h2 {
  position: absolute;
  width: 30px;
  left: 777px;
}

.scndtxt__3 h2 {
  position: absolute;
  width: 30px;
  left: 1179px;
}

.scndtxt__1 h3,
.scndtxt__2 h3,
.scndtxt__3 h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  font-family: Righteous;
  top: 1114px;
  font-style: normal;
  height: 30px;
}

.scndtxt__1 h3 {
  position: absolute;
  width: 222px;
  left: 411px;
}

.scndtxt__2 h3 {
  position: absolute;
  width: 186px;
  left: 819px;
}

.scndtxt__3 h3 {
  position: absolute;
  width: 177px;
  left: 1221px;
}
.scndphoto__1,
.scndphoto__2,
.scndphoto__3 {
  width: 366px;
  height: 420px;
  position: absolute;
  top: 1168px;
}
.scndphoto__1 {
  position: absolute;
  left: 375px;
}

.scndphoto__2 {
  position: absolute;
  left: 777px;
}

.scndphoto__3 {
  position: absolute;
  left: 1179px;
}
/*/ Second section */

/* Third section */
.third__section {
  display: flex;
  margin: 0 auto;
  width: 80%;
  position: absolute;
  width: 1170px;
  height: 635px;
  left: 375px;
  top: 1728px;
}

.left__side {
  width: 50%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px;
  margin-right: 32px;
}

.grid__1 {
  grid-column: 1 / 2;
  grid-row: 1 / span 1;
  background-image: url(./imgs/third1.png);
}

.grid__2 {
  grid-column: 1 / 2;
  grid-row: 2 / 2;
  background-image: url(./imgs/third2.png);
}

.grid__3 {
  grid-column: 2 / 2;
  grid-row: 1 / span 2;
  background-image: url(./imgs/third3.png);
}
.right__side {
  width: 50%;
  background: #1c1814;
}

.frst__txt {
  position: absolute;
  height: 22px;
  font-family: Urbanist;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #c99e71;
  padding: 120px 365px 493px 56px;
}

.scnd__txt {
  position: absolute;
  width: 480px;
  height: 124px;
  font-family: Righteous;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
  padding: 154px 56px 357px 56px;
}
.scnd__txt span {
  display: block;
}

.thrd__txt {
  padding: 314px 56px 147px 56px;
  position: absolute;
  width: 480px;
  height: 174px;
  font-family: Urbanist;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
}
/*/ Third section */
